/* div.c-wrapper{
  width: 80%; 
  margin: auto;
} */

/* .carousel-inner > .carousel-item > img, 
.carousel-inner > .carousel-item > a > img{
  width: 100%; 
  margin: auto;
} */

body{
  font-family: 'Titillium Web', sans-serif;
  background-color: #F3F7F6;
  padding-top: 50px;
}

h1{
  text-align: center;
}

.carousel-inner > .item {
  width:100%;
  height:600px;

}


#mainNavbar{
  font-size: 1.125rem;
  font-weight: 100;
}

#slider{
  background-color: #F3F7F6;
}

#exploreBtn{
  background-color: #73a9aa;
}

/* .lead{
  text-align: center;
} */
